ul.allMealIngredients {
    list-style: square;
}

.ingredientContainer {
    /* position: relative;
    right: -1vh;
    bottom: -9vh; */
    border-right: solid;
    width: 50%;
    padding: 1em;
    margin: 9px;
    text-align: left;
}

h2 {
    margin-bottom: 4px;
}