/* DisplayMeal */

.mealViewContainer,
.createMealForm {
  max-width: 700px;
  /* position: relative; */
  border: solid 3px #7c262b;
  border-radius: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  /* min-height: 60vh; */
}

.iconNameTimesContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
  align-items: flex-start;
}

.mealTitleContainer {
  border: solid 3px #7c262b;
  margin-left: 1vw;
  margin-right: 1vw;
  width: fit-content;
}

h1.mealTitle {
  font-size: 3rem;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-style: italic;
  font-family: apple-sd-gothic-light;
  font-weight: 100;
  letter-spacing: 3px;
}

.iconContainer {
  margin-left: 0.5vw;
}

.displayTimeMealView {
  margin-right: 1vw;
  width: fit-content;
  border: dashed 3px #7c262b;
  border-radius: 6px;
  padding: 1rem 1rem;
  white-space: nowrap;
}

.ingredientAndNotesContainer {
  display: flex;
  margin: 3vh 3vw 0 3vw;
}

ul.allMealIngredients {
  list-style: square;
  text-align: left;
  margin-right: 1vw;
  width: 50%;
}

h2 {
  margin-bottom: 4px;
  text-decoration: underline;
  font-style: italic;
}

.mealNotes {
  border-left: solid 2px #7c262b;
  padding-left: 1vw;
  width: 50%;
  text-align: left;
  min-height: 26vh;
}

.mealViewRecipeURL {
  width: 50%;
  margin-left: auto;
  text-align: left;
  padding-left: 2vw;
}

p.mealNotesP {
  font-size: 1rem;
}

.addButtonContainerMealView {
  width: 16%;
  margin-left: auto;
}

div.addButtonContainerMealView > button.noBorder {
  transform: none;
  font-size: 1.5rem;
}
