/* DisplayMeal */

.mealViewContainer {
  border: solid 5px #7c262b;
  border-radius: 15px;
  margin: auto;
  width: fit-content;
  display: flow-root;
}

.iconContainer {
    margin-top: 1vh;
    margin-left: 0.5vw;
    width: 5%;
  }
  
  h1.mealTitle {
    font-size: 4rem;
    padding: 1vw;
    font-style: italic;
    font-family: apple-sd-gothic-light;
    font-weight: 100;
    letter-spacing: 3px;
  }
  
  .mealTitleContainer {
    border: solid 3px #7c262b;
    width: fit-content;
    margin-left: 4vw;
    margin-top: -5vh;
}
  
  .displayTimeMealView {
    margin-top: -15vh;
    margin-left: 35vw;
    width: fit-content;
    border: dashed 3px #7c262b;
    border-radius: 6px;
    padding: 6px;
  }
  