.sortOptions {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 40%;
  margin-right: auto;
  margin-left: 29vw;
}

/* copy icon */
i.fa-regular.fa-clone {
    font-size: 1.25rem;
}

.groceriesLi {
    text-align: left;
    padding-left: 1vw;

}

.ingredientsOnlyContainer, .mealCountContainer {
    /* border: solid; */
    width: 37%;
    margin-left: auto;
    margin-right: 32vw;
}

h3 {
    text-align: left;
    margin-bottom: 6px;
    margin-top: 6px;
    text-decoration: underline;
}

input[type="checkbox"]{
    cursor: pointer;
}