@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "apple-chancery", sans-serif;
}

body {
  background-color: #e6c593;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
  text-align: center;
  margin-left: 1rem;
  /* font-color: "green"; */
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

a {
  text-decoration: underline;
  color: #2c2219;
}

a:hover {
  color:#7c262b
}
/* 
https://www.w3schools.com/howto/howto_css_animate_buttons.asp */

/* Evergreen: Hex #526861

Burgundy: Hex #7c262b

Pale Red: Hex #bb745c

Soft Gold: Hex #e6c593

Yellow Creme: Hex #f0e1b2

Dark Charcoal: Hex #2c2219 */
