.editMealAndIngredientContainer {
  max-width: 700px;
  /* position: relative; */
  border: solid 3px #7c262b;
  border-radius: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

ul.userMealIngredients {
  list-style: square;
  text-align: left;
  margin-right: 1vw;
  width: 50%;
}
button.editIngredientButton {
  border: none;
  font-size: 0.65rem;
  padding: 0 0.5rem;
}

.mealNameTimesButtonsContainer {
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
  margin-left: -21px;
}

.editMealNameContainer {
  margin-left: 1vw;
  /* margin-right: 1vw; */
  /* position: relative;
  left: -22px; */
  max-width: 63%;
  /* width: fit-content; */
}

.editMealInput {
  border: solid 3px #7c262b;
  font-size: 3rem;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-style: italic;
  font-family: apple-sd-gothic-light;
  font-weight: 100;
  letter-spacing: 3px;
  min-width: 50%;
  max-width: 90%;
}

.editTimesContainer {
  margin-right: 1vw;
  /* width: fit-content; */
  border: dashed 3px #7c262b;
  border-radius: 6px;
  padding: 0.75rem;
  white-space: nowrap;
  text-align: left;
  /* position: relative;
    left: -39px;
    top:3px; */
}

input[type="number"] {
  width: 40px;
  padding: 2px 1px 1px 5px;
}

.editIngredientsContainer {
  width: 47.4%;
  text-align: left;
  margin-left: 1.5vw;
  min-height: 34vh;
  margin-bottom: 1vh;
  border-right: solid 3px #7c262b;
}

.editNotesURLContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  bottom: -16px;
  left: 350px;
  text-align: left;
}

.editMealNotes {
  /* border-left: solid 3px #7c262b; */
  padding-left: 25px;
}

form.editMealForm {
  height: 95px;
  width: 700px;
}
textarea {
  width: 82%;
}

label.editLinkLabel {
  margin-left: 28px;
}

/* .saveCancleButtonContainer {

} */

.cancleSaveButtons {
  border: none;
  padding: 0;
}

.cancelButtonContainer {
  margin-bottom: 0.75rem;
}

i.fa-regular.fa-floppy-disk,
i.fa-regular.fa-rectangle-xmark {
  font-size: 2rem;
}

button.deleteIngredientButton {
  border: none;
  font-size: 0.9rem;
  padding-bottom: 0;
  padding-top: 3px;
}

/* .editLinkLabel{
    font-style: italic;
    color: #bb745c;
}

.editLinkLabel:hover {
    color: #7c262b;
    text-decoration: underline;
} */

input.editLinkInput {
  width: 82%;
  padding: 1px 5px;
  color: #bb745c;
  font-style: italic;
  margin-top: 1vh;
}


input.ingredientNameInput,
input.ingredientUnitInput {
  width: 100%;
  padding: 2px 0px 2px 2px;
}

form.editIngredientForm,
form.addIngredientForm {
  width: 88%;
}

td.ingredientInfoTd {
  width: 80%;
}

td.ingredientInputTd, td.unitTd {
  width: 20%;
}

.cancleEditIngredientButton, .saveIngredientButton{
  border: none;
}

/* .spacer {
  width: 100%;
  height: 39px;
} */